# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#cs154
/.settings/
/.metadata/
.lock

/Spring2015/CS154/RegExLab/nbproject/private/
/Spring2015/CS154/RegExLab/RegExLab/nbproject/private/
/Spring2015/CS154/RegExLab/build/
/Spring2015/CS154/Assignment4/nbproject/private/
/Spring2015/CS154/Assignment4/build/
/Spring2015/CS154/midterm/nbproject/private/
/Spring2015/CS154/midterm/build/
/Spring2015/CS134/Assignment6/nbproject/private/
/Spring2015/CS134/ComboParsers/nbproject/private/
/Spring2015/CS134/ComboParsers/build/
/Spring2015/CS154/Assignment7/nbproject/private/
/Spring2015/CS154/Assignment7/build/
/Spring2015/CS154/PLProject/nbproject/private/
/Spring2015/CS154/PLProject/build/
/Spring2015/CS154/PLProject/dist/
/Spring2015/CS154/final/nbproject/private/
/Spring2015/CS154/final/build/
/Fall2015/CS152/Lab2/nbproject/private/
/Fall2015/CS152/Lab2/build/
/Fall2015/CS152/Cranberry/Cranberry/nbproject/private/
/Fall2015/CS152/Cranberry/Cranberry/build/
/Fall2015/CS152/Scala/.metadata/
/Spring2016/CS149/CS149HW2/nbproject/private/
/Spring2016/CS149/CS149HW2/build/